ul.collections-container {
  display: flex;
  flex-wrap: wrap;
}

li.collection-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 8em;
  aspect-ratio: 1/1;
  /* height: 8em; */
  border-radius: 10px;
  font-size: 30px;
  margin: 10px;
  border: none;
  padding: 10px;
}

li.collection-item::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(to right, rgb(27, 226, 218), rgb(103, 126, 235));
  border-radius: 15px;
}
