html {
  position: relative;
  left: 24%;
  overflow-x: hidden;
  max-width: 100%;
  font-size: 1.3rem;
  background-color: black;
  color: #fff;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

#app {
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  html {
    left: 0%;
    max-width: 100%;
  }
}

main {
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 0px;
}

p {
  font-size: 18px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

button {
  background: linear-gradient(135deg, rgb(27, 226, 218), rgb(103, 126, 235));
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  filter: brightness(1.2);
}

.page-title {
  padding-left: 40px;
  font-size: 45px;
  font-weight: 800;
  font-style: italic;
}

.input-container {
  padding: 10px;
}

.textarea {
  width: 80vw;
  max-width: 500px;
  margin: 10px 0px;
}

.delete {
  padding: 0.5em;
  margin: 0.3em 0.5em;
}
