nav {
  position: fixed;
  width: 28%;
  left: 0em;
  top: 0em;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 0em 1em;
  margin-top: 0em;
  font-style: italic;
  font-size: 23px;
  z-index: 1;
}

.logo {
  width: 100%;
  padding: 1rem 0.5rem;
}

.collection-list {
  font-size: 0.8em;
  height: 1em;
}

.nav-items {
  display: flex;
  flex-direction: column;
}
